body {
    font-family: 'Montserrat';
    font-size: 22px;
}
header {
    background-color: rgb(44, 62, 80);
}
.bootstrap-start {
    margin-top: 85px;
    background-color: rgb(26, 188, 156);
}
.start_width {
    width: 575px;
}
.horizontal_rule {
    height: 5px;
    width: 100px;
    border-radius: 5px;
    display: inline-block;
}
.portfolio-section img {
    border-radius: 10px;
}
.about-section {
    background-color: rgb(26, 188, 156);
}
input[type=text]{
    width: 70%;
    margin: 0 auto;
    display: block;
    border: 0;
}
hr {
    width: 70%;
    margin: 0 auto;
}
.contact-me-messagearea {
    width: 70%;
    height: 200px;
}
.no_border {
    border: 0;
}
::placeholder {
    color: #2C3E50;
    font-size: 1.3em;
    opacity: 1;
}
.info-section {
    background-color: rgb(58, 84, 109);
}
#start-bootstrap {
    text-decoration: none;
    color: #1ABC9C;
}
footer {
    height: 150px;
    background-color: #2C3E50;
}